<div class="projects-wrapper">
  <div class="projects-container">
    <h1 class="projects-title">{{ 'projects.title' | transloco }}</h1>

    <p-message
      *ngIf="successCreate"
      [style]="{ width: '22.5rem' }"
      severity="success"
      text="{{
        'projects.success-create' | transloco : { project: createdOffer }
      }}"
    ></p-message>

    <p-message
      *ngIf="successCreateOffer"
      [style]="{ width: '22.5rem' }"
      severity="success"
      text="{{
        'projects.success-create-offer'
          | transloco : { profile: successCreateOffer }
      }}"
    ></p-message>
    

   
</div>
