<p-table
  #dt
  styleClass="p-datatable-striped"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [paginator]="true"
  [rows]="5"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 15]"
  [value]="data"
  [tableStyle]="tableStyle"
  [ngClass]="{ 'table-style': true }"
  [globalFilterFields]="[
    'descripcion',
    'country.name',
    'representative.name',
    'status'
  ]"
>
  @if (header) {
  <ng-template pTemplate="caption">
    <div class="header-container">
      <h3>{{ header | transloco }}</h3>
      <div
        [pTooltip]="'projects.create' | transloco"
        class="actions__button actions__button--blue"
        [routerLink]="'/projects/create'"
      >
        <i class="pi pi-plus" style="color: #fff; font-size: 1.2rem"></i>
      </div>
    </div>
  </ng-template>
  }

  <ng-template pTemplate="header">
    <tr>
      @for (column of columns; track column) {
      <th [pSortableColumn]="column">
        @if (column !== 'empresaId' && column !== 'id') {

        {{ 'projects.' + column | transloco }}
        <p-sortIcon [field]="column"></p-sortIcon>

        }
      </th>
      }
    </tr>

    <tr>
      @for (column of columns; track column) {
      <th>
        @if (column !== 'empresaId' && column !== 'id' && column !== 'profiles')
        {

        <p-columnFilter type="text" [field]="column"></p-columnFilter>

        }
      </th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-data>
    <tr>
      @for (column of columns; track column) {
      <td>
        @if (column !== 'profiles' && column !== 'empresaId' && column !== 'id'
        && column !== 'codigo') {
        <span class="p-column-title"
          >{{ 'projects.' + column | transloco }}:</span
        >
        <div>
          {{ data[column] }}
        </div>
        } @if(column === 'codigo') {
        <span class="p-column-title"
          >{{ 'projects.' + column | transloco }}:</span
        >
        <p-tag [value]="data[column]" [style]="{ 'font-size': '1rem' }"></p-tag>
        } @if (column === 'profiles') {
        <span class="p-column-title"
          >{{ 'projects.' + column | transloco }}:</span
        >
        <div class="numeric-column">
          {{ data[column].length }}
          <div
            [pTooltip]="'projects.create-profile' | transloco"
            class="actions__button actions__button--blue"
            [routerLink]="'/profiles/create/' + data.id"
          >
            <i
              class="pi pi-user-plus"
              style="color: #fff; font-size: 1.2rem"
            ></i>
          </div>
          @if(data[column].length > 0 ) {
          <div
            [pTooltip]="'projects.view-profiles' | transloco"
            class="actions__button actions__button--blue"
            [routerLink]="'/offers/' + data.id"
          >
            <i class="pi pi-eye" style="color: #fff; font-size: 1.2rem"></i>
          </div>
          }
        </div>
        }
      </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      @if (!loading) {
      <td>{{ 'projects.no-exist' | transloco }}</td>
      } @if (loading) {
      <td>
        <p-progressSpinner
          styleClass="w-4rem h-4rem"
          animationDuration=".5s"
        ></p-progressSpinner>
      </td>
      }
    </tr>
  </ng-template>
</p-table>
