<div class="card">
  <!-- Searcher -->
  <div class="searcher">
    <span class="p-input-icon-left" [style]="{ width: '100%' }">
      <i class="pi pi-search"></i>
      <input
        data-cy="candidates-filter"
        [placeholder]="'business-home.search-candidates' | transloco"
        type="text"
        pInputText
        [style]="{ width: '100%' }"
        [(ngModel)]="searcher"
        (ngModelChange)="onSearchChange($event)"
      />
    </span>
  </div>

  @if (loading) {
  <p-progressSpinner
    [style]="{ display: 'flex', 'justify-content': 'center' }"
    styleClass="w-4rem h-4rem"
    animationDuration=".5s"
  ></p-progressSpinner>
  } @if (!loading) {
  <p-dataView
    #dv
    [value]="data"
    [rows]="5"
    [paginator]="true"
    data-cy="candidates-data-view"
  >
    <ng-template let-data pTemplate="listItem">
      <div class="col-12 bg-gray">
        <div
          class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
        >
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
          >
            <div
              class="flex flex-column align-items-center sm:align-items-start gap-3"
            >
              <div class="text-2xl font-bold text-900">{{ data.nombre }}</div>
              <p-rating
                [readonly]="true"
                [cancel]="false"
                ngModel="4"
              ></p-rating>

              @if (validateLanguages(data).length > 0) {
              <div class="flex align-items-center gap-3">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-language"></i>
                  <span class="font-semibold"
                    >{{ 'business-home.languages' | transloco }}:</span
                  >
                </span>

                @for (language of validateLanguages(data); track language) {

                <img width="20px" [src]="getimageUrl(language)" class="mr2" />

                }
              </div>
              }
            </div>
            <div
              class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
            >
              {{ data.email }}

              <div
                class="actions__button actions__button--blue"
                [pTooltip]="'business-home.view-candidate' | transloco"
              >
                <i class="pi pi-eye" style="color: #fff; font-size: 1.2rem"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  }
</div>
