@use '/src/styles/abstracts';

.register {
  &__form {
    @include abstracts.flexbox(column, normal, center, 1.5rem);
    padding-bottom: 2rem;
  }
}

.form {
  &__input {
    &--label {
      @include abstracts.flexbox(column, normal, normal, 0.5rem);
    }
  }
}

.countries-dropdown--item {
  display: flex;
  gap: 0.5rem;
}

.cities-dropdown--item {
  display: flex;
  gap: 0.5rem;
}

.identification-form {
  @include abstracts.flexbox(row, normal, normal, 0.5rem);
}
