<form
  class="register__form"
  [formGroup]="registerBusinessForm"
  (ngSubmit)="onSubmit()"
>
  <lib-steps [items]="stepsData" [activeIndex]="currentStep"> </lib-steps>

  <!-- STEP 1-->
  <ng-container *ngIf="currentStep === steps.personalInformation">
    <!-- Name-->
    <div class="form__input--label">
      <label htmlFor="name">{{
        'register.business-account-step.names' | transloco
      }}</label>
      <input
        [style]="{ width: '22.5rem' }"
        pInputText
        id="name"
        formControlName="nombre"
        placeholder=" {{
          'register.business-account-step.enter-names' | transloco
        }} "
      />
    </div>

    <div class="form__input--label">
      <label htmlFor="identification">{{
        'register.business-account-step.identification' | transloco
      }}</label>
      <div class="identification-form">
        <p-dropdown
          placeholder="{{ 'register.candidate-account-step.type' | transloco }}"
          [options]="businessIdentificationTypesData"
          optionLabel="name"
          formControlName="tipo_documento"
        ></p-dropdown>
        <input
          [style]="{ width: '15.5rem' }"
          pInputText
          id="identification"
          formControlName="documento"
          placeholder=" {{
            'register.business-account-step.enter-identification' | transloco
          }} "
        />
      </div>
    </div>

    <!--Country-->
    <div class="form__input--label">
      <label htmlFor="birthday">{{
        'register.business-account-step.residence-country' | transloco
      }}</label>

      <p-dropdown
        [options]="countries"
        optionLabel="name"
        filterBy="name"
        [style]="{ width: '22.5rem' }"
        placeholder="{{
          'register.business-account-step.enter-residence-country' | transloco
        }} "
        formControlName="pais"
        class="countries-dropdown"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="flex align-items-center gap-2"
            *ngIf="registerBusinessForm.get('pais')"
            class="countries-dropdown--item"
          >
            <img
              [src]="
                'assets/images/flags/' +
                registerBusinessForm.get('pais')?.value.code +
                '.png'
              "
              style="width: 18px"
            />
            <div>{{ registerBusinessForm.get('pais')?.value.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div
            class="flex align-items-center gap-2"
            class="countries-dropdown--item"
          >
            <img
              class="countries-dropdown--item"
              [src]="'assets/images/flags/' + country.code + '.png'"
              style="width: 18px"
            />
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <!--City-->

      <p-dropdown
        [options]="cities"
        optionLabel="name"
        filterBy="name"
        [style]="{ width: '22.5rem' }"
        placeholder="{{ 'register.business-account-step.city' | transloco }} "
        formControlName="ciudad"
        class="countries-dropdown"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="flex align-items-center gap-2"
            *ngIf="registerBusinessForm.get('ciudad')"
            class="countries-dropdown--item"
          >
            <img
              [src]="
                'assets/images/flags/' +
                registerBusinessForm.get('ciudad')?.value.code +
                '.png'
              "
              style="width: 18px"
            />
            <div>{{ registerBusinessForm.get('ciudad')?.value.name }}</div>
          </div>
        </ng-template>
        <ng-template let-city pTemplate="item">
          <div
            class="flex align-items-center gap-2"
            class="countries-dropdown--item"
          >
            <img
              class="cities-dropdown--item"
              [src]="'assets/images/flags/' + city.code + '.png'"
              style="width: 18px"
            />
            <div>{{ city.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <!-- Address-->
      <div class="form__input--label">
        <input
          [style]="{ width: '22.5rem' }"
          pInputText
          id="direccion"
          formControlName="direccion"
          placeholder=" {{
            'register.business-account-step.address' | transloco
          }} "
        />
      </div>

      <!--TipoEmpresa-->
      <div class="form__input--label">
        <label htmlFor="businessType">{{
          'register.business-account-step.business' | transloco
        }}</label>

        <p-dropdown
          [options]="businessType"
          optionLabel="name"
          filterBy="name"
          [style]="{ width: '22.5rem' }"
          placeholder="{{
            'register.business-account-step.business-type' | transloco
          }} "
          formControlName="tipoEmpresaId"
          class="businessType-dropdown"
        >
        </p-dropdown>

        <!--SegmentoEmpresa-->

        <p-dropdown
          [options]="businessSegment"
          optionLabel="name"
          filterBy="name"
          [style]="{ width: '22.5rem' }"
          placeholder="{{
            'register.business-account-step.business-segment' | transloco
          }} "
          formControlName="segmentoId"
          class="businessSegment-dropdown"
        >
        </p-dropdown>
      </div>
    </div>
  </ng-container>

  <!-- STEP 2-->
  <ng-container *ngIf="currentStep === steps.createBusinessAccount">
    <!-- Username-->
    <div class="form__input--label">
      <label htmlFor="username">{{
        'register.business-account-step.username' | transloco
      }}</label>
      <input
        type="username"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="username"
        formControlName="username"
        placeholder=" {{
          'register.business-account-step.enter-username' | transloco
        }} "
      />
    </div>

    <!-- Email-->
    <div class="form__input--label">
      <label htmlFor="email">{{
        'register.business-account-step.email' | transloco
      }}</label>
      <input
        type="email"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="email"
        formControlName="email"
        placeholder=" {{
          'register.business-account-step.enter-email' | transloco
        }} "
      />
    </div>

    <!-- Password-->
    <div class="form__input--label">
      <label htmlFor="password">{{
        'register.business-account-step.password' | transloco
      }}</label>
      <input
        type="password"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="password"
        formControlName="password"
        placeholder=" {{
          'register.business-account-step.enter-password' | transloco
        }} "
      />
    </div>

    <!-- Password Confirm-->
    <div class="form__input--label">
      <label htmlFor="passwordConfirm">{{
        'register.business-account-step.password-confirm' | transloco
      }}</label>
      <input
        type="password"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="passwordConfirm"
        formControlName="passwordConfirm"
        placeholder=" {{
          'register.business-account-step.enter-password-confirm' | transloco
        }} "
      />
      <p-message
        *ngIf="registerBusinessForm.hasError('passwordMismatch')"
        [style]="{ width: '22.5rem' }"
        severity="error"
        text="{{
          'register.candidate-account-step.password-confirm-mismatch'
            | transloco
        }}"
      ></p-message>
    </div>
  </ng-container>

  <p-message
    [style]="{ width: '22.5rem' }"
    severity="error"
    *ngIf="error"
    text="{{ error }}"
  ></p-message>

  <p-button
    label="{{ nextText | transloco }}"
    [style]="{ width: '22.5rem' }"
    type="submit"
    [disabled]="!registerFormValid"
  ></p-button>

  <p-button
    label="{{ 'previous' | transloco }}"
    [style]="{ width: '22.5rem' }"
    (onClick)="backToPreviousStep()"
    *ngIf="currentStep === steps.createBusinessAccount"
  ></p-button>

  <p-button
    (onClick)="goToMainRegister()"
    label="{{ 'cancel' | transloco }}"
    [style]="{ width: '22.5rem' }"
    severity="secondary"
  ></p-button>
</form>
