<p-table
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [paginator]="true"
  [rows]="5"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 15]"
  [value]="data"
  [tableStyle]="tableStyle"
  [tableStyle]="{ width: '80rem' }"
  [ngClass]="{ 'table-style': true }"
>
  @if (header) {
  <ng-template pTemplate="caption">
    <div class="header-container">
      <h3>{{ header | transloco }}</h3>

      <div class="buttons-container">
        <div
          class="actions__button actions__button--red"
          [routerLink]="'/applications/' + parentId"
        >
          <i
            class="pi pi-arrow-circle-left"
            style="color: #fff; font-size: 1.2rem"
          ></i>
        </div>
        <div
          class="actions__button actions__button--blue"
          [routerLink]="'/test/create/' + parentId"
        >
          <i class="pi pi-plus" style="color: #fff; font-size: 1.2rem"></i>
        </div>
      </div>
    </div>
  </ng-template>
  }

  <ng-template pTemplate="header">
    <tr>
      @for (column of columns; track column) { @if(column !== 'tipo') {
      <th [pSortableColumn]="column">
        {{ 'tests.' + column | transloco }}
        <p-sortIcon [field]="column"></p-sortIcon>
      </th>
      } }
    </tr>

    <tr>
      @for (column of columns; track column) { @if(column !== 'tipo') {
      <th>
        <p-columnFilter type="text" [field]="column"></p-columnFilter>
      </th>
      } }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-data>
    <tr>
      @for (column of columns; track column) { @if(column !== 'tipo') {
      <td>
        <div>
          {{ data[column] }}
        </div>
      </td>
      } }
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      @if (!loading) {
      <td>{{ 'tests.no-exist' | transloco }}</td>
      } @if (loading) {
      <td>
        <p-progressSpinner
          styleClass="w-4rem h-4rem"
          animationDuration=".5s"
        ></p-progressSpinner>
      </td>
      }
    </tr>
  </ng-template>
</p-table>
