@use '/src/styles/abstracts';
.form__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

.form__buttons {
  width: 22.5rem; 
  text-align: center; 
  margin-bottom: 10px; 
}
.profiles {
  &-wrapper {
    padding-top: 3rem;
  }
  &-container {
    @include abstracts.flexbox(column, space-evenly, center, 0);
  }
  &-title {
    color: abstracts.$primary;
  }
  &__form {
    @include abstracts.flexbox(column, space-evenly, center, 2rem);
  }
  &-tools {
    $textColor: #495057;
    $text-align: left;
  }

}
.form {
  &__input {
    &--label {
      @include abstracts.flexbox(column, flex-start, normal, 0.5rem);
    }
  }
}