<div class="projects-create-wrapper">
  <div class="projects-create-container">
    <h1 class="projects-create-title">{{ 'interviews.create' | transloco }}</h1>

    <form class="projects-create__form" [formGroup]="interviewCreateForm">
      <!-- Name-->
      <div class="form__input--label">
        <label htmlFor="name">{{ 'interviews.name' | transloco }}</label>
        <input
          [maxLength]="25"
          [minlength]="3"
          [style]="{ width: '22.5rem' }"
          pInputText
          id="name"
          formControlName="name"
          placeholder=" {{ 'interviews.enter-name' | transloco }} "
        />
        @if ( interviewCreateForm.get('name')?.hasError('required') &&
        interviewCreateForm.get('name')?.touched ) {
        <p-message
          [style]="{ width: '22.5rem' }"
          severity="error"
          text="{{ 'interviews.name-required' | transloco }}"
        ></p-message>
        } @if (interviewCreateForm.get('name')?.hasError('minlength')) {
        <p-message
          [style]="{ width: '22.5rem' }"
          severity="error"
          text="{{ 'interviews.name-min-length' | transloco }}"
        ></p-message>
        }
      </div>

      <p></p>

      <!-- Date-->
      <div class="form__input--label">
        <label htmlFor="date">{{ 'interviews.date' | transloco }}</label>

        <p-calendar
          min
          [style]="{ width: '22.5rem' }"
          [showIcon]="true"
          id="date"
          formControlName="fecha"
          placeholder=" {{ 'interviews.enter-date' | transloco }} "
          [showTime]="true"
          [showSeconds]="true"
        ></p-calendar>

        @if ( interviewCreateForm.get('fecha')?.hasError('required') &&
        interviewCreateForm.get('fecha')?.touched ) {
        <p-message
          [style]="{ width: '22.5rem' }"
          severity="error"
          text="{{ 'interviews.date-required' | transloco }}"
        ></p-message>
        }
      </div>

      <div class="table-spacing">
        <app-sort-table-participants
          [dataDropdown]="candidatesData"
          [header]="'participants.list'"
          [(data)]="participants"
        ></app-sort-table-participants>
      </div>

      @if (errorMessage) {
      <p-message
        [style]="{ width: '22.5rem' }"
        severity="error"
        text="{{ errorMessage }}"
      ></p-message>
      }
      <div class="button-container">
        <p-button
          (onClick)="createInterview()"
          label="{{ 'create' | transloco }}"
          [style]="{ width: '22.5rem' }"
          type="submit"
          [disabled]="!formValid()"
          [loading]="loading"
        ></p-button>

        <p-button
          (onClick)="setShowConfirmDialog(true)"
          label="{{ 'cancel' | transloco }}"
          [style]="{ width: '22.5rem' }"
          severity="secondary"
        ></p-button>
      </div>
    </form>
  </div>
</div>

<p-dialog
  header="Header"
  [(visible)]="showConfirmDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  position="center"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">{{
      'interviews.confirm' | transloco
    }}</span>
  </ng-template>
  <p>
    {{ 'interviews.confirm-body' | transloco }}
  </p>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="returnToInterviews()"
      label="{{ 'exit' | transloco }}"
      styleClass="p-button-text"
    ></p-button>

    <p-button
      severity="danger"
      icon="pi pi-times"
      (click)="setShowConfirmDialog(false)"
      label="{{ 'cancel' | transloco }}"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
