<form class="register__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <lib-steps [items]="stepsData" [activeIndex]="currentStep"> </lib-steps>

  <!-- STEP 1-->
  @if (currentStep === steps.personalInformation) {

  <!-- Name-->
  <div class="form__input--label">
    <label htmlFor="name">{{
      'register.candidate-account-step.names' | transloco
    }}</label>
    <input
      [maxLength]="50"
      [minlength]="3"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="name"
      formControlName="nombre"
      placeholder=" {{
        'register.candidate-account-step.enter-names' | transloco
      }} "
    />
    @if ( registerForm.get('nombre')?.hasError('required') &&
    registerForm.get('nombre')?.touched ) {
    <p-message
      [style]="{ width: '22.5rem' }"
      data-cy="error-name-required"
      severity="error"
      text="{{ 'register.candidate-account-step.name-required' | transloco }}"
    ></p-message>
    } @if (registerForm.get('nombre')?.hasError('minlength')) {
    <p-message
      [style]="{ width: '22.5rem' }"
      data-cy="error-name-min-length"
      severity="error"
      text="{{ 'register.candidate-account-step.name-min-length' | transloco }}"
    ></p-message>
    }
  </div>

  <!-- BirthDay-->
  <div class="form__input--label">
    <label htmlFor="birthday">{{
      'register.candidate-account-step.birthday' | transloco
    }}</label>

    <p-calendar
      min
      [style]="{ width: '22.5rem' }"
      [showIcon]="true"
      id="birthday"
      formControlName="fecha_nacimiento"
      placeholder=" {{
        'register.candidate-account-step.enter-birthday' | transloco
      }} "
    ></p-calendar>

    @if ( registerForm.get('fecha_nacimiento')?.hasError('required') &&
    registerForm.get('fecha_nacimiento')?.touched ) {
    <p-message
      data-cy="error-birthday-required"
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.birthday-required' | transloco
      }}"
    ></p-message>
    } @if (registerForm.get('fecha_nacimiento')?.hasError('invalidAge')) {
    <p-message
      [style]="{ width: '22.5rem' }"
      data-cy="error-birthday-min-age"
      severity="error"
      text="{{
        'register.candidate-account-step.birthday-invalid-age' | transloco
      }}"
    ></p-message>
    }
  </div>

  <!-- Birth Place-->
  <div class="form__input--label">
    <label htmlFor="pais">{{
      'register.candidate-account-step.residence-country' | transloco
    }}</label>

    <p-dropdown
      [options]="countries"
      optionLabel="name"
      filterBy="name"
      [style]="{ width: '22.5rem' }"
      placeholder="{{
        'register.candidate-account-step.enter-residence-country' | transloco
      }} "
      formControlName="pais"
      class="countries-dropdown"
    >
      <ng-template pTemplate="selectedItem">
        @if (registerForm.get('pais')) {
        <div
          class="flex align-items-center gap-2"
          class="countries-dropdown--item"
        >
          <img
            [src]="
              'assets/images/flags/' +
              registerForm.get('pais')?.value.code +
              '.png'
            "
            style="width: 18px"
          />
          <div>{{ registerForm.get('pais')?.value.name }}</div>
        </div>
        }
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div
          class="flex align-items-center gap-2"
          class="countries-dropdown--item"
        >
          <img
            class="countries-dropdown--item"
            [src]="'assets/images/flags/' + country.code + '.png'"
            style="width: 18px"
          />
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>

    @if ( registerForm.get('pais')?.hasError('required') &&
    registerForm.get('pais')?.touched ) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.residence-country-required' | transloco
      }}"
    ></p-message>
    } @if (registerForm.get('fechaNacimiento')?.hasError('invalidAge')) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.birthday-invalid-age' | transloco
      }}"
    ></p-message>
    }
  </div>

  <!-- City -->
  <div class="form__input--label">
    <label htmlFor="name">{{
      'register.candidate-account-step.residence-city' | transloco
    }}</label>
    <input
      [maxLength]="50"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="name"
      formControlName="ciudad"
      placeholder=" {{
        'register.candidate-account-step.enter-residence-city' | transloco
      }} "
    />
    @if ( registerForm.get('ciudad')?.hasError('required') &&
    registerForm.get('ciudad')?.touched ) {
    <p-message
      data-cy="error-residence-city-required"
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.residence-city-required' | transloco
      }}"
    ></p-message>
    }
  </div>

  <!-- Phone -->
  <div class="form__input--label">
    <label htmlFor="telefono">{{
      'register.candidate-account-step.phone' | transloco
    }}</label>
    <input
      type="number"
      [maxLength]="50"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="name"
      formControlName="telefono"
      placeholder=" {{
        'register.candidate-account-step.enter-phone' | transloco
      }} "
    />
    @if ( registerForm.get('telefono')?.hasError('required') &&
    registerForm.get('telefono')?.touched ) {
    <p-message
      data-cy="error-phone-required"
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{ 'register.candidate-account-step.phone-required' | transloco }}"
    ></p-message>
    }
  </div>

  <!-- Identification-->
  <div class="form__input--label">
    <label htmlFor="identification">{{
      'register.candidate-account-step.identification' | transloco
    }}</label>
    <div class="identification-form">
      @if (registerForm.get('pais')?.value.code === 'co') {
      <p-dropdown
        placeholder="{{ 'register.candidate-account-step.type' | transloco }}"
        [options]="identificationTypesData"
        optionLabel="name"
        formControlName="tipo_documento"
      ></p-dropdown>
      }
      <input
        [maxlength]="50"
        [style]="{
          width:
            registerForm.get('pais')?.value.code === 'co'
              ? '15.5rem'
              : '22.5rem'
        }"
        pInputText
        id="identification"
        formControlName="documento"
        placeholder=" {{
          'register.candidate-account-step.enter-identification' | transloco
        }} "
      />
    </div>
    @if ( registerForm.get('documento')?.hasError('required') &&
    registerForm.get('documento')?.touched ) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.identification-required' | transloco
      }}"
    ></p-message>
    }
  </div>

  }

  <!-- STEP 2-->
  @if (currentStep === steps.createAccount) {

  <!-- Username-->
  <div class="form__input--label">
    <label htmlFor="username">{{
      'register.candidate-account-step.username' | transloco
    }}</label>
    <input
      [minlength]="3"
      [maxlength]="50"
      type="username"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="username"
      formControlName="username"
      placeholder=" {{
        'register.candidate-account-step.enter-username' | transloco
      }} "
    />

    @if ( registerForm.get('username')?.hasError('required') &&
    registerForm.get('username')?.touched ) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.username-required' | transloco
      }}"
    ></p-message>
    } @if (registerForm.get('username')?.hasError('minlength')) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.username-min-length' | transloco
      }}"
    ></p-message>
    }
  </div>

  <!-- Email-->
  <div class="form__input--label">
    <label htmlFor="email">{{
      'register.candidate-account-step.email' | transloco
    }}</label>
    <input
      type="email"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="email"
      formControlName="email"
      placeholder=" {{
        'register.candidate-account-step.enter-email' | transloco
      }} "
    />

    @if ( registerForm.get('email')?.hasError('required') &&
    registerForm.get('email')?.touched ) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{ 'register.candidate-account-step.email-required' | transloco }}"
    ></p-message>
    } @if (registerForm.get('email')?.hasError('email')) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.email-format-error' | transloco
      }}"
    ></p-message>
    }
  </div>

  <!-- Password-->
  <div class="form__input--label">
    <label htmlFor="password">{{
      'register.candidate-account-step.password' | transloco
    }}</label>
    <input
      type="password"
      [minlength]="8"
      [maxlength]="50"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="password"
      formControlName="password"
      placeholder=" {{
        'register.candidate-account-step.enter-password' | transloco
      }} "
    />

    @if ( registerForm.get('password')?.hasError('required') &&
    registerForm.get('password')?.touched ) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.password-required' | transloco
      }}"
    ></p-message>
    } @if (registerForm.get('password')?.hasError('minlength')) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.password-min-length' | transloco
      }}"
    ></p-message>
    }
  </div>

  <!-- Password Confirm-->
  <div class="form__input--label">
    <label htmlFor="passwordConfirm">{{
      'register.candidate-account-step.password-confirm' | transloco
    }}</label>
    <input
      type="password"
      [minlength]="8"
      [maxlength]="50"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="passwordConfirm"
      formControlName="passwordConfirm"
      placeholder=" {{
        'register.candidate-account-step.enter-password-confirm' | transloco
      }} "
    />

    @if (registerForm.hasError('passwordMismatch')) {
    <p-message
      [style]="{ width: '22.5rem' }"
      severity="error"
      text="{{
        'register.candidate-account-step.password-confirm-mismatch' | transloco
      }}"
    ></p-message>
    }
  </div>

  } @if (error) {
  <p-message
    [style]="{ width: '22.5rem' }"
    severity="error"
    text="{{ error }}"
  ></p-message>
  }

  <p-button
    label="{{ nextText | transloco }}"
    [style]="{ width: '22.5rem' }"
    type="submit"
    [disabled]="!registerFormValid"
    [loading]="loading"
  ></p-button>

  @if (currentStep === steps.createAccount) {
  <p-button
    label="{{ 'previous' | transloco }}"
    [style]="{ width: '22.5rem' }"
    (onClick)="backToPreviousStep()"
  ></p-button>
  }

  <p-button
    (onClick)="goToMainRegister()"
    label="{{ 'cancel' | transloco }}"
    [style]="{ width: '22.5rem' }"
    severity="secondary"
  ></p-button>
</form>
