<form class="register__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <lib-steps [items]="stepsData" [activeIndex]="currentStep"> </lib-steps>

  <!-- STEP 1-->
  <ng-container *ngIf="currentStep === steps.personalInformation">
    <!-- Name-->
    <div class="form__input--label">
      <label htmlFor="name">{{
        'register.candidate-account-step.names' | transloco
      }}</label>
      <input
        [maxLength]="50"
        [minlength]="3"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="name"
        formControlName="nombre"
        placeholder=" {{
          'register.candidate-account-step.enter-names' | transloco
        }} "
      />
      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('nombre')?.hasError('required') &&
          registerForm.get('nombre')?.touched
        "
        severity="error"
        text="{{ 'register.candidate-account-step.name-required' | transloco }}"
      ></p-message>

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="registerForm.get('nombre')?.hasError('minlength')"
        severity="error"
        text="{{
          'register.candidate-account-step.name-min-length' | transloco
        }}"
      ></p-message>
    </div>

    <!-- BirthDay-->
    <div class="form__input--label">
      <label htmlFor="birthday">{{
        'register.candidate-account-step.birthday' | transloco
      }}</label>

      <p-calendar
        min
        [style]="{ width: '22.5rem' }"
        [showIcon]="true"
        id="birthday"
        formControlName="fecha_nacimiento"
        placeholder=" {{
          'register.candidate-account-step.enter-birthday' | transloco
        }} "
      ></p-calendar>

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('fecha_nacimiento')?.hasError('required') &&
          registerForm.get('fecha_nacimiento')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.birthday-required' | transloco
        }}"
      ></p-message>

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="registerForm.get('fechaNacimiento')?.hasError('invalidAge')"
        severity="error"
        text="{{
          'register.candidate-account-step.birthday-invalid-age' | transloco
        }}"
      ></p-message>
    </div>

    <!-- Birth Place-->
    <div class="form__input--label">
      <label htmlFor="pais">{{
        'register.candidate-account-step.residence-country' | transloco
      }}</label>

      <p-dropdown
        [options]="countries"
        optionLabel="name"
        filterBy="name"
        [style]="{ width: '22.5rem' }"
        placeholder="{{
          'register.candidate-account-step.enter-residence-country' | transloco
        }} "
        formControlName="pais"
        class="countries-dropdown"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="flex align-items-center gap-2"
            *ngIf="registerForm.get('pais')"
            class="countries-dropdown--item"
          >
            <img
              [src]="
                'assets/images/flags/' +
                registerForm.get('pais')?.value.code +
                '.png'
              "
              style="width: 18px"
            />
            <div>{{ registerForm.get('pais')?.value.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div
            class="flex align-items-center gap-2"
            class="countries-dropdown--item"
          >
            <img
              class="countries-dropdown--item"
              [src]="'assets/images/flags/' + country.code + '.png'"
              style="width: 18px"
            />
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('pais')?.hasError('required') &&
          registerForm.get('pais')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.residence-country-required'
            | transloco
        }}"
      ></p-message>
    </div>

    <!-- City -->
    <div class="form__input--label">
      <label htmlFor="name">{{
        'register.candidate-account-step.residence-city' | transloco
      }}</label>
      <input
        [maxLength]="50"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="name"
        formControlName="ciudad"
        placeholder=" {{
          'register.candidate-account-step.enter-residence-city' | transloco
        }} "
      />
      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('ciudad')?.hasError('required') &&
          registerForm.get('ciudad')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.residence-city-required' | transloco
        }}"
      ></p-message>
    </div>

    <!-- Phone -->
    <div class="form__input--label">
      <label htmlFor="telefono">{{
        'register.candidate-account-step.phone' | transloco
      }}</label>
      <input
        type="number"
        [maxLength]="50"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="name"
        formControlName="telefono"
        placeholder=" {{
          'register.candidate-account-step.enter-phone' | transloco
        }} "
      />
      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('telefono')?.hasError('required') &&
          registerForm.get('telefono')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.phone-required' | transloco
        }}"
      ></p-message>
    </div>

    <!-- Identification-->
    <div class="form__input--label">
      <label htmlFor="identification">{{
        'register.candidate-account-step.identification' | transloco
      }}</label>
      <div class="identification-form">
        <p-dropdown
          placeholder="{{ 'register.candidate-account-step.type' | transloco }}"
          *ngIf="registerForm.get('pais')?.value.code === 'co'"
          [options]="identificationTypesData"
          optionLabel="name"
          formControlName="tipo_documento"
        ></p-dropdown>
        <input
          [maxlength]="50"
          [style]="{
            width:
              registerForm.get('pais')?.value.code === 'co'
                ? '15.5rem'
                : '22.5rem'
          }"
          pInputText
          id="identification"
          formControlName="documento"
          placeholder=" {{
            'register.candidate-account-step.enter-identification' | transloco
          }} "
        />
      </div>
      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('documento')?.hasError('required') &&
          registerForm.get('documento')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.identification-required' | transloco
        }}"
      ></p-message>
    </div>
  </ng-container>

  <!-- STEP 2-->
  <ng-container *ngIf="currentStep === steps.createAccount">
    <!-- Username-->
    <div class="form__input--label">
      <label htmlFor="username">{{
        'register.candidate-account-step.username' | transloco
      }}</label>
      <input
        [minlength]="3"
        [maxlength]="50"
        type="username"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="username"
        formControlName="username"
        placeholder=" {{
          'register.candidate-account-step.enter-username' | transloco
        }} "
      />

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('username')?.hasError('required') &&
          registerForm.get('username')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.username-required' | transloco
        }}"
      ></p-message>

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="registerForm.get('username')?.hasError('minlength')"
        severity="error"
        text="{{
          'register.candidate-account-step.username-min-length' | transloco
        }}"
      ></p-message>
    </div>

    <!-- Email-->
    <div class="form__input--label">
      <label htmlFor="email">{{
        'register.candidate-account-step.email' | transloco
      }}</label>
      <input
        type="email"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="email"
        formControlName="email"
        placeholder=" {{
          'register.candidate-account-step.enter-email' | transloco
        }} "
      />

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('email')?.hasError('required') &&
          registerForm.get('email')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.email-required' | transloco
        }}"
      ></p-message>

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="registerForm.get('email')?.hasError('email')"
        severity="error"
        text="{{
          'register.candidate-account-step.email-format-error' | transloco
        }}"
      ></p-message>
    </div>

    <!-- Password-->
    <div class="form__input--label">
      <label htmlFor="password">{{
        'register.candidate-account-step.password' | transloco
      }}</label>
      <input
        type="password"
        [minlength]="8"
        [maxlength]="50"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="password"
        formControlName="password"
        placeholder=" {{
          'register.candidate-account-step.enter-password' | transloco
        }} "
      />

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="
          registerForm.get('password')?.hasError('required') &&
          registerForm.get('password')?.touched
        "
        severity="error"
        text="{{
          'register.candidate-account-step.password-required' | transloco
        }}"
      ></p-message>

      <p-message
        [style]="{ width: '22.5rem' }"
        *ngIf="registerForm.get('password')?.hasError('minlength')"
        severity="error"
        text="{{
          'register.candidate-account-step.password-min-length' | transloco
        }}"
      ></p-message>
    </div>

    <!-- Password Confirm-->
    <div class="form__input--label">
      <label htmlFor="passwordConfirm">{{
        'register.candidate-account-step.password-confirm' | transloco
      }}</label>
      <input
        type="password"
        [minlength]="8"
        [maxlength]="50"
        [style]="{ width: '22.5rem' }"
        pInputText
        id="passwordConfirm"
        formControlName="passwordConfirm"
        placeholder=" {{
          'register.candidate-account-step.enter-password-confirm' | transloco
        }} "
      />

      <p-message
        *ngIf="registerForm.hasError('passwordMismatch')"
        [style]="{ width: '22.5rem' }"
        severity="error"
        text="{{
          'register.candidate-account-step.password-confirm-mismatch'
            | transloco
        }}"
      ></p-message>
    </div>
  </ng-container>

  <p-message
    [style]="{ width: '22.5rem' }"
    severity="error"
    *ngIf="error"
    text="{{ error }}"
  ></p-message>

  <p-button
    label="{{ nextText | transloco }}"
    [style]="{ width: '22.5rem' }"
    type="submit"
    [disabled]="!registerFormValid"
  ></p-button>

  <p-button
    label="{{ 'previous' | transloco }}"
    [style]="{ width: '22.5rem' }"
    (onClick)="backToPreviousStep()"
    *ngIf="currentStep === steps.createAccount"
  ></p-button>

  <p-button
    (onClick)="goToMainRegister()"
    label="{{ 'cancel' | transloco }}"
    [style]="{ width: '22.5rem' }"
    severity="secondary"
  ></p-button>
</form>
