<form class="register__form" [formGroup]="registerForm">
  <!-- Name-->
  <div class="form__input--label">
    <label htmlFor="name">{{
      'register.candidate-account-step.names' | transloco
    }}</label>
    <input
      [style]="{ width: '22.5rem' }"
      pInputText
      id="name"
      formControlName="name"
      placeholder=" {{
        'register.candidate-account-step.enter-names' | transloco
      }} "
    />
  </div>

  <!-- Lastname-->
  <div class="form__input--label">
    <label htmlFor="lastName">{{
      'register.candidate-account-step.last-names' | transloco
    }}</label>
    <input
      [style]="{ width: '22.5rem' }"
      pInputText
      id="lastName"
      formControlName="lastName"
      placeholder=" {{
        'register.candidate-account-step.enter-last-names' | transloco
      }} "
    />
  </div>

  <!-- BirthDay-->
  <div class="form__input--label">
    <label htmlFor="birthday">{{
      'register.candidate-account-step.birthday' | transloco
    }}</label>

    <p-calendar
      [style]="{ width: '22.5rem' }"
      [showIcon]="true"
      id="birthday"
      formControlName="birthday"
      placeholder=" {{
        'register.candidate-account-step.enter-birthday' | transloco
      }} "
    ></p-calendar>
  </div>

  <!-- Email-->
  <div class="form__input--label">
    <label htmlFor="email">{{
      'register.candidate-account-step.email' | transloco
    }}</label>
    <input
      type="email"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="email"
      formControlName="email"
      placeholder=" {{
        'register.candidate-account-step.enter-email' | transloco
      }} "
    />
  </div>

  <!-- Password-->
  <div class="form__input--label">
    <label htmlFor="password">{{
      'register.candidate-account-step.password' | transloco
    }}</label>
    <input
      type="password"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="password"
      formControlName="password"
      placeholder=" {{
        'register.candidate-account-step.enter-password' | transloco
      }} "
    />
  </div>

  <!-- Password Confirm-->
  <div class="form__input--label">
    <label htmlFor="passwordConfirm">{{
      'register.candidate-account-step.password-confirm' | transloco
    }}</label>
    <input
      type="password"
      [style]="{ width: '22.5rem' }"
      pInputText
      id="passwordConfirm"
      formControlName="passwordConfirm"
      placeholder=" {{
        'register.candidate-account-step.enter-password-confirm' | transloco
      }} "
    />
  </div>

  <p-button
    label="{{ 'next' | transloco }}"
    [style]="{ width: '22.5rem' }"
    type="submit"
    [disabled]="!registerForm.valid"
  ></p-button>

  <p-button
    label="{{ 'cancel' | transloco }}"
    [style]="{ width: '22.5rem' }"
    severity="secondary"
  ></p-button>
</form>
