<div class="projects-wrapper">
  <div class="projects-container">
    <h1 class="projects-title">{{ 'createTest.title' | transloco }}</h1>

    <form
      [formGroup]="resultsForm"
      class="register__form"
      (ngSubmit)="onSubmit()"
    >
      <div class="p-field p-grid">
        <div class="p-col-12 p-md-9">
          <div class="p-field p-grid">
            <label for="nombre" class="p-col-12 p-md-3">{{
              'createTest.name' | transloco
            }}</label>
            <div class="p-col-12 p-md-9">
              <input
                id="nombre"
                formControlName="nombre"
                [style]="{ width: '22.5rem' }"
                type="text"
                pInputText
                class="custom-width"
                placeholder="{{ 'createTest.enter-name' | transloco }}"
              />
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="p-field p-grid">
        <label for="float-input">{{ 'createTest.comment' | transloco }}</label>
        <span class="p-float-label">
          <textarea
            [placeholder]="'createTest.comment' | transloco"
            formControlName="comentario"
            style="width: 22.5rem"
            id="float-input"
            rows="4"
            cols="30"
            pInputTextarea
          ></textarea>
        </span>
      </div>
      <p></p>
      <div class="p-field p-grid">
        <label for="calificacion" class="p-col-12 p-md-3">{{
          'createTest.result' | transloco
        }}</label>
        <div class="p-col-12 p-md-9">
          <input
            id="calificacion"
            formControlName="calificacion"
            [style]="{ width: '22.5rem' }"
            type="text"
            pInputText
            class="custom-width"
            placeholder="{{ 'createTest.enter-calification' | transloco }}"
          />
        </div>
      </div>

      <div style="margin-top: 20px">
        <!-- Ajusta el valor del margen según tus preferencias -->
        <div style="display: flex; justify-content: space-between">
          <p-button
            label="{{ 'create' | transloco }}"
            [style]="{ width: '150px', margin: '5px' }"
            type="submit"
            [disabled]="!resultsForm.valid"
          ></p-button>

          <p-button
            (onClick)="setShowConfirmDialog(true)"
            label="{{ 'cancel' | transloco }}"
            [style]="{ width: '150px', margin: '5px' }"
            severity="secondary"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
