<div class="projects-wrapper">
  <div class="projects-container">
    <h1 class="projects-title">{{ 'createTest.title' | transloco }}</h1>

    <form
      [formGroup]="resultsForm"
      class="register__form"
      (ngSubmit)="onSubmit()"
    >
      <div class="p-field p-grid">
        <div class="p-col-12 p-md-9">
          <div class="p-field p-grid">
            <label for="nombre" class="p-col-12 p-md-3">{{
              'createTest.name' | transloco
            }}</label>
            <div class="p-col-12 p-md-9">
              <input
                id="nombre"
                formControlName="nombre"
                [style]="{ width: '22.5rem' }"
                type="text"
                pInputText
                class="custom-width"
                placeholder="{{ 'createTest.enter-name' | transloco }}"
              />
              <p></p>
              <ng-container *ngIf="resultsForm.get('nombre')?.errors">
                <p-message
                  *ngIf="resultsForm.get('nombre')?.hasError('required') && resultsForm.get('nombre')?.touched"
                  severity="error"
                  text="{{ 'createTest.nombre-required' | transloco }}"
                ></p-message>
                <p-message
                  *ngIf="resultsForm.get('nombre')?.hasError('minlength')"
                  severity="error"
                  text="{{ 'createTest.nombre-min-length' | transloco }}"
                ></p-message>
                <p-message
                  *ngIf="resultsForm.get('nombre')?.hasError('maxlength')"
                  severity="error"
                  text="{{ 'createTest.nombre-max-length' | transloco }}"
                ></p-message>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="p-field p-grid">
        <label for="float-input">{{ 'createTest.comment' | transloco }}</label>
        <span class="p-float-label">
          <textarea
            [placeholder]="'createTest.comment' | transloco"
            formControlName="comentario"
            style="width: 22.5rem"
            id="float-input"
            rows="4"
            cols="30"
            pInputTextarea
          ></textarea>
          <p></p>
              <ng-container *ngIf="resultsForm.get('comentario')?.errors">
                <p-message
                  *ngIf="resultsForm.get('comentario')?.hasError('required') && resultsForm.get('comentario')?.touched"
                  severity="error"
                  text="{{ 'createTest.comentario-required' | transloco }}"
                ></p-message>
                <p-message
                  *ngIf="resultsForm.get('comentario')?.hasError('minlength')"
                  severity="error"
                  text="{{ 'createTest.comentario-min-length' | transloco }}"
                ></p-message>
                <p-message
                  *ngIf="resultsForm.get('comentario')?.hasError('maxlength')"
                  severity="error"
                  text="{{ 'createTest.comentario-max-length' | transloco }}"
                ></p-message>
              </ng-container>
        </span>
      </div>
      <p></p>
      <div class="p-field p-grid">
        <label for="calificacion" class="p-col-12 p-md-3">{{
          'createTest.result' | transloco
        }}</label>
        <div class="p-col-12 p-md-9">
          <input
            id="calificacion"
            formControlName="calificacion"
            [style]="{ width: '22.5rem' }"
            type="text"
            pInputText
            class="custom-width"
            placeholder="{{ 'createTest.enter-calification' | transloco }}"
          />
          <p></p>
              <ng-container *ngIf="resultsForm.get('calificacion')?.errors">
                <p-message
                  *ngIf="resultsForm.get('calificacion')?.hasError('required') && resultsForm.get('calificacion')?.touched"
                  severity="error"
                  text="{{ 'createTest.calificacion-required' | transloco }}"
                ></p-message>
                <p-message
                  *ngIf="resultsForm.get('calificacion')?.hasError('minlength')"
                  severity="error"
                  text="{{ 'createTest.calificacion-min-length' | transloco }}"
                ></p-message>
                <p-message
                  *ngIf="resultsForm.get('calificacion')?.hasError('maxlength')"
                  severity="error"
                  text="{{ 'createTest.calificacion-max-length' | transloco }}"
                ></p-message>
              </ng-container>
        </div>
      </div>

      <div style="margin-top: 20px">
        <!-- Ajusta el valor del margen según tus preferencias -->
        <div style="display: flex; justify-content: space-between">
          <p-button
            label="{{ 'create' | transloco }}"
            [style]="{ width: '150px', margin: '5px' }"
            type="submit"
            [disabled]="!resultsForm.valid"
          ></p-button>

          <p-button
            (onClick)="return()"
            label="{{ 'cancel' | transloco }}"
            [style]="{ width: '150px', margin: '5px' }"
            severity="secondary"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
