@use '/src/styles/abstracts';

.actions {
  &-container {
    @include abstracts.flexbox(row, space-evenly, center, 0);
  }

  &__button {
    @include abstracts.flexbox(row, space-evenly, center, 0);
    @include abstracts.hoverable();
    @include abstracts.rounded(0.5rem);
    height: 2.5rem;
    width: 2.5rem;

    &--blue {
      background-color: abstracts.$primary;
    }

    &--red {
      background-color: abstracts.$danger;
    }
  }
  .currency-symbol {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
    color: #495057;
  }
  .p-inputtext {
    padding-left: 25px; /* Ajusta el espacio para que el símbolo no se solape con el texto */
  }
}

.header {
  &-container {
    @include abstracts.flexbox(row, space-between, center, 0);
  }
  &-text {
    margin: 0 auto;
  }
}

.numeric-column {
  @include abstracts.flexbox(row, space-evenly, center, 0);
}

.register {
  &__form {
    @include abstracts.flexbox(column, center, center, 2rem);
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
