<p-table
  #dt
  styleClass="p-datatable-striped"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [paginator]="true"
  [rows]="5"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 15]"
  [value]="data"
  [tableStyle]="tableStyle"
  [ngClass]="{ 'table-style': true }"
>
  @if (header) {
  <ng-template pTemplate="caption">
    <div class="header-container">
      <h3>{{ header | transloco }}</h3>
    </div>
  </ng-template>
  }

  <ng-template pTemplate="header">
    <tr>
      @for (column of columns; track column) { @if (column !== 'skills' &&
      !column.includes('id')) {
      <th [pSortableColumn]="column">
        {{ 'applications.' + column | transloco }}
        <p-sortIcon [field]="column"></p-sortIcon>
      </th>
      } }
      <th>{{ 'applications.detail' | transloco }}</th>
      <th>{{ 'applications.hire' | transloco }}</th>
    </tr>

    <tr>
      @for (column of columns; track column) { @if (!column.includes('id') &&
      column !== 'pruebas' && column !== 'skills') {
      <th>
        <p-columnFilter type="text" [field]="column"></p-columnFilter>
      </th>
      } }
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-index>
    <tr>
      @for (column of columns; track column; let index = $index) { @if (column
      !== 'pruebas' && column !== 'skills' && !column.includes('id')) {
      <td>
        <div>
          {{ data[column] }}
        </div>
      </td>
      } @if (column === 'pruebas') {
      <td>
        <div class="numeric-column">
          {{ data[column].length }}

          <div
            class="actions__button actions__button--blue"
            [routerLink]="'/test/' + urlId"
          >
            <i class="pi pi-book" style="color: #fff; font-size: 1.2rem"></i>
          </div>
        </div>
      </td>

      } }
      <td>
        <div class="actions-container">
          @if (data.skills.length > 0) {
          <div
            class="actions__button actions__button--blue"
            (click)="setShowConfirmDialog(true, index)"
          >
            <i class="pi pi-eye" style="color: #fff; font-size: 1.2rem"></i>
          </div>
          }
        </div>
      </td>
      <td>
        <div class="actions-container">
          @if (data.skills.length > 0) {
          <div
            class="actions__button actions__button--blue"
            (click)="setShowHireDialog(true)"
          >
            <i class="pi pi-check" style="color: #fff; font-size: 1.2rem"></i>
          </div>
          }
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      @if (!loading) {
      <td>{{ 'applications.no-exist' | transloco }}</td>
      } @if (loading) {
      <td>
        <p-progressSpinner
          styleClass="w-4rem h-4rem"
          animationDuration=".5s"
        ></p-progressSpinner>
      </td>
      }
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Header"
  [(visible)]="showConfirmDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
  position="center"
>
  <ng-template pTemplate="header">
    <span
      style="font-size: large; font-weight: bolder"
      class="text-xl font-bold"
      >{{ 'profiles.candidate' | transloco }}</span
    >
  </ng-template>
  <ng-template pTemplate="body">
    <div class="dialog-body">
      <div class="dialog-list">
        <!-- Languages -->
        <div class="languages-list">
          <h3>Languages</h3>
          <ul>
            @for ( language of currentCandidateTools[skillTypeEnum.IDIOMA] ;
            track language) {
            <li>
              {{ language.skill.nombre }} -
              <p-rating
                [readonly]="true"
                [cancel]="false"
                [ngModel]="language.dominio"
              ></p-rating>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <!-- <ul *ngFor="let application of data">
      <p>
        juju
        {{ application.pruebas | json }}
      </p>
    </ul> -->
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      label="{{ 'exit' | transloco }}"
      styleClass="p-button-text"
      (onClick)="returnToApplications()"
    ></p-button>
  </ng-template>
</p-dialog>

<!-- Hire dialog -->

<p-dialog
  header="Header"
  [(visible)]="showHireDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '40vw', height: '200vw' }"
  [draggable]="false"
  [resizable]="false"
  position="center"
>
  <ng-template pTemplate="header">
    <span style="font-size: large; font-weight: bolder" class="text-xl font-bold">
      {{ 'applications.hire-candidate' | transloco }}
    </span>
  </ng-template>
  <ng-template pTemplate="body">
    <div class="dialog-body">
      <form [formGroup]="registerForm" class="register__form">
        <p class="skill-text"></p>
      
        <!-- Campo para ingresar el tiempo en meses -->
        <div class="p-field">
          <label for="tiempo-meses">{{ 'applications.enter-months' | transloco }}</label>
          <div class="p-input-container">
            <span class="p-float-label">
              <input
                id="tiempo-meses"
                type="number"
                formControlName="tiempoMeses"
                class="p-inputtext p-inputwrapper"
                style="width: 20rem;"
              />
              <label for="float-input"></label>
            </span>
            <ng-container *ngIf="registerForm.get('tiempoMeses')?.errors">
              <p-message
                *ngIf="registerForm.get('tiempoMeses')?.hasError('required') && registerForm.get('tiempoMeses')?.touched"
                severity="error"
                text="{{ 'applications.tiempoMeses-required' | transloco }}"
              ></p-message>
              <p-message
                *ngIf="registerForm.get('tiempoMeses')?.hasError('minlength')"
                severity="error"
                text="{{ 'applications.tiempoMeses-min-length' | transloco }}"
              ></p-message>
              <p-message
                *ngIf="registerForm.get('tiempoMeses')?.hasError('maxlength')"
                severity="error"
                text="{{ 'applications.tiempoMeses-max-length' | transloco }}"
              ></p-message>
            </ng-container>
          </div>
        </div>
      
        <!-- Campo para agregar el valor en dinero -->
        <div class="p-field">
          <label for="valor-dinero">{{ 'applications.money-value' | transloco }}</label>
          <div class="p-input-container">
            <span class="p-float-label">
              <span class="currency-symbol">$</span>
              <input
                id="valor-dinero"
                type="text"
                formControlName="valorDinero"
                class="p-inputtext p-inputwrapper"
                style="width: 19.5rem;"
              />
              <label for="float-input"></label>
            </span>
            <ng-container *ngIf="registerForm.get('valorDinero')?.errors">
              <p-message
                *ngIf="registerForm.get('valorDinero')?.hasError('required') && registerForm.get('valorDinero')?.touched"
                severity="error"
                text="{{ 'applications.valorDinero-required' | transloco }}"
              ></p-message>
              <p-message
                *ngIf="registerForm.get('valorDinero')?.hasError('minlength')"
                severity="error"
                text="{{ 'applications.valorDinero-min-length' | transloco }}"
              ></p-message>
              <p-message
                *ngIf="registerForm.get('valorDinero')?.hasError('maxlength')"
                severity="error"
                text="{{ 'applications.valorDinero-max-length' | transloco }}"
              ></p-message>
            </ng-container>
          </div>
        </div>
      
        <!-- Calendario para seleccionar la fecha -->
        <div class="p-field">
          <label for="date">{{ 'applications.date' | transloco }}</label>
          <div class="p-input-container">
            <span class="p-float-label">
              <div class="card flex justify-content-start">
                <p-calendar
                  [(ngModel)]="date"
                  [showIcon]="true"
                  id="date"
                  formControlName="fecha"
                  placeholder="{{ 'Enter date' | transloco }}"
                  class="p-inputwrapper"
                  [style]="{ width: '20rem' }"
                ></p-calendar>
                <label for="float-input"></label>
              </div>
              <ng-container *ngIf="registerForm.get('fecha')?.errors">
                <p-message
                  *ngIf="registerForm.get('fecha')?.hasError('required') && registerForm.get('fecha')?.touched"
                  severity="error"
                  text="{{ 'applications.fecha-required' | transloco }}"
                ></p-message>
              </ng-container>
            </span>
          </div>
        </div>
      </form>
      
        <p></p>
      
      
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      label="{{ 'exit' | transloco }}"
      styleClass="p-button-text"
      (onClick)="returnToApplications()"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="p-d-flex p-jc-between">
      <p-button
        label="{{ 'Accept' | transloco }}"
        icon="pi pi-check"
        styleClass="p-button-text"
        (click)="returnToApplications()"
      ></p-button>
      <p-button
        label="{{ 'Cancel' | transloco }}"
        icon="pi pi-times"
        styleClass="p-button-text"
        (click)="returnToApplications()"
      ></p-button>
    </div>
  </ng-template>
  
</p-dialog>





