<p-table
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [paginator]="true"
  [rows]="5"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 15]"
  [value]="data"
  [tableStyle]="tableStyle"
  [ngClass]="{ 'table-style': true }"
>
  <ng-template pTemplate="caption" *ngIf="header">
    <div class="header-container">
      <h3>{{ header | transloco }}</h3>
      <div
        class="actions__button actions__button--blue"
        [routerLink]="'/employees/create'"
      >
        <i class="pi pi-plus" style="color: #fff; font-size: 1.2rem"></i>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="header" *ngFor="let column of columns">
        {{ 'employees.' + column | transloco }}
      </th>

      <th class="header">{{ 'employees.' + 'actions' | transloco }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-index>
    <tr>
      <td *ngFor="let column of columns; let index = index">
        <div *ngIf="column !== 'profiles'">
          {{ data[column] }}
        </div>

        <div class="numeric-column" *ngIf="column === 'profiles'">
          {{ data[column].length }}
          <div class="actions__button actions__button--blue">
            <i
              [class]="
                data[column].length > 0 ? 'pi pi-eye' : 'pi pi-user-plus'
              "
              style="color: #fff; font-size: 1.2rem"
            ></i>
          </div>
        </div>
      </td>

      <td>
        <div class="actions-container">
          <div class="actions__button actions__button--blue">
            <i
              class="pi pi-check-circle"
              style="color: #fff; font-size: 1.2rem"
              (click)="setShowConfirmDialog(true); setCurrentEmployee(index)"
            ></i>
          </div>
          <div class="actions__button actions__button--red">
            <i class="pi pi-trash" style="color: #fff; font-size: 1.2rem"></i>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td>{{ 'employees.' + 'no-exist' | transloco }}</td>
    </tr>
  </ng-template>
</p-table>

<!-- Registrar proyecto a empleado -->

<p-dialog
  header="Header"
  [(visible)]="showConfirmDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw', height: '20rem' }"
  [draggable]="false"
  [resizable]="false"
  position="center"
>
  <ng-template pTemplate="header">
    <span
      style="font-size: large; font-weight: bolder"
      class="text-xl font-bold"
      >{{ 'employees.employees-to-project' | transloco }}</span
    >
  </ng-template>
  <form [formGroup]="registerForm" class="register__form">
    <p-dropdown
      [options]="mockData_project"
      optionLabel="name"
      [style]="{ width: '22.5rem' }"
      formControlName="project"
      placeholder="{{ 'employees.select-project' | transloco }} "
    ></p-dropdown>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      label="{{ 'profiles.accept' | transloco }}"
      styleClass="p-button-text"
      (onClick)="addData()"
    ></p-button>
  </ng-template>
</p-dialog>
