<div class="projects-wrapper">
  <div class="projects-container">
    <h1 class="projects-title">{{ 'projects.title' | transloco }}</h1>

    @if (successCreate) {z
    <p-message
      [style]="{ width: '40vw', }"
      severity="success"
      text="{{
        'projects.success-create' | transloco: { project: createdProject }
      }}"
    ></p-message>
    } @if (successCreateOffer) {
    <p-message
      [style]="{ width: '40vw', }"
      severity="success"
      text="{{
        'projects.success-create-offer'
          | transloco: { profile: successCreateOffer }
      }}"
    ></p-message>
    }

    <app-sort-table
      [loading]="loading"
      [header]="'projects.list'"
      [data]="projects"
    ></app-sort-table>
  </div>
</div>
