@if (isMobile) {
<p-accordion
  class="w-full"
 
  expandIcon="pi pi-bars"
  collapseIcon="pi pi-minus"
>
  <p-accordionTab>
    <ng-template pTemplate="header"> </ng-template>
    <ng-template pTemplate="content">
      <ul class="items-list list-responsive">
        @for (item of itemList; track item) {
  <li
         
          [routerLink]="item"
          routerLinkActive="link-active"
        >
          {{ item + '.title' | transloco }}
        </li>
}
        <lib-language-picker></lib-language-picker>
        <i (click)="logout()" class="pi pi-sign-out logout"></i>
      </ul>
    </ng-template>
  </p-accordionTab>
</p-accordion>
}

@if (!isMobile) {
<section class="header-wrapper">
  <div class="header-container">
    <img
      src="assets/images/logo.png"
      alt="ABC Jobs Logo"
      class="header__image"
    />
    @if (itemList) {
<div class="items-section">
      <ul class="items-list">
        @for (item of itemList; track item) {
  <li
         
          [routerLink]="item"
          routerLinkActive="link-active"
        >
          {{ item + '.title' | transloco }}
        </li>
}
      </ul>
    </div>
}

    <lib-language-picker></lib-language-picker>

    <i
      (click)="logout()"
      class="pi pi-sign-out logout"
      [pTooltip]="'sign-out' | transloco"
    ></i>
  </div>
</section>
}
