<div class="projects-wrapper">
  <div class="projects-container">
    <h1 class="projects-title">{{ 'interviews.title' | transloco }}</h1>

    @if (successCreate) {
<p-message
     
      [style]="{ width: '22.5rem' }"
      severity="success"
      text="{{
        'interviews.success-create' | transloco: { interview: createdInterview }
      }}"
    ></p-message>
}

    @if (successCreateInterview) {
<p-message
     
      [style]="{ width: '22.5rem' }"
      severity="success"
      text="{{
        'interviews.success-create-interview'
          | transloco: { profile: successCreateInterview }
      }}"
    ></p-message>
}

    <app-sort-table-interview
      [header]="'interviews.list'"
      [data]="interviews"
    ></app-sort-table-interview>
  </div>
</div>
