<p-table
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [paginator]="true"
  [rows]="5"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 15]"
  [value]="data"
  [tableStyle]="tableStyle"
  [ngClass]="{ 'table-style': true }"
>
  @if (header) {
<ng-template pTemplate="caption">
    <div class="header-container">
      <h3></h3>
      <div
        class="actions__button actions__button--blue"
        (click)="setShowConfirmDialog(true)"
        [pTooltip]="'technical-data.create-new' | transloco"
      >
        <i class="pi pi-plus" style="color: #fff; font-size: 1.2rem"></i>
      </div>
    </div>
  </ng-template>
}
  <ng-template pTemplate="header" let-data>
    <tr>
      @for (column of columns; track column) {
  <th>{{ column }}</th>
}
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      @for (column of columns; track column) {
  <td>
        @if (column !== 'dominio') {
<div>
          {{ data[column] }}
        </div>
}

        @if (column === 'dominio') {
<div class="numeric-column">
          <p-rating [ngModel]="data[column]" [cancel]="false"></p-rating>
        </div>
}
      </td>
}
      <td>
        <div class="actions-container">
          <!-- <div class="actions__button actions__button--blue">
            <i
              class="pi pi-arrow-circle-right"
              style="color: #fff; font-size: 1.2rem"
            ></i>
          </div> -->
          <div class="actions__button actions__button--red"
          [pTooltip]="'technical-data.delete' | transloco">
            <i class="pi pi-trash" style="color: #fff; font-size: 1.2rem"></i>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td>{{ emptyMessage | transloco }}</td>
    </tr>
  </ng-template>
</p-table>
