.home {
  &-wrapper {
    margin: 0 auto;
    width: 50%;
  }

  &-container {
    padding-top: 2rem;
  }
}

@media (max-width: 768px) {
  .home {
    &-wrapper {
      margin: 0 auto;
      width: 90%;
    }
  }
}
