@use '/src/styles/abstracts';

.business {
  &-home {
    &-header {
      text-align: center;
      color: abstracts.$primary;
    }

    &-content {
      @include abstracts.flexbox(inherit, normal, normal, 10rem);

      &-cards {
        @include abstracts.flexbox(column, normal, normal, 2rem);
      }
    }
  }
}

@media (max-width: 768px) {
  .business {
    &-home {
      &-content {
        display: block;

        &-cards {
          display: none;
        }
      }
    }
  }
}
