<h2 class="business-home-header">Resultados de la Búsqueda</h2>

<div class="business-home-content">
  <div class="business-home-content-cards">
    <app-util-card
      *ngIf="languages$"
      headerTitle="Idiomas"
      [type]="cardType.checkbox"
      [options]="languages$ | async"
    ></app-util-card>
    <app-util-card
      headerTitle="Herramientas"
      [type]="cardType.search"
    ></app-util-card>
    <app-util-card
      headerTitle="Habilidades"
      [type]="cardType.search"
    ></app-util-card>
    <app-util-card
      headerTitle="Calificaciones"
      [type]="cardType.rating"
    ></app-util-card>
  </div>

  <app-business-data-view [data]="candidatesData"></app-business-data-view>
</div>
