<section class="technical-data-wrapper">
  <div class="technical-data-container">
    <h1 class="technical-data-title">
      {{ 'technical-data.title' | transloco }}
    </h1>

    <app-technical-habilities
      [candidateHabilities$]="candidateHabilities$"
    ></app-technical-habilities>
    <app-technical-tools
      [candidateTools$]="candidateTools$"
    ></app-technical-tools>
    <app-technical-languages
      [candidateLanguages$]="candidateLanguages$"
    ></app-technical-languages>
  </div>
</section>
